{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block title %}{% trans "Homepage" %}{% endblock %}

{% block content %}
<h1>CapX Bug Reporting</h1>
<ul>
  {% for bug in object_list %}
    <h2>{{ bug.title }}</h2>
    # <img src="{{ post.cover.url}}" alt="{{ post.title }}">
  {% endfor %}
</ul>
{% endblock %}

{#<h1>Bug List</h1>#}
{#<ul>#}
{#    {% for bug in bug_list%}#}
{##}
{#    <li><a href="{% url 'bug:bug_detail' bug.id %}">{{ bug.description }}</a></li>#}
{##}
{#    {% endfor %}#}
{#</ul>#}