{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Homepage" %}{% endblock %}

{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">{% endblock %}

{% block content %}

<div class="w3-row-padding w3-content" style="max-width:800px">
    <div class="w3-container w3-margin-top">
        <div class="w3-container">
            <h1>{% trans "Report bug" %}</h1>
        </div>
    </div>
    <div class="w3-margin-top w3-section">
        <div class="w3-container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="w3-section formfield">
                    {{ form.as_div }}
                    <button type="submit">Report</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}