{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Homepage" %}{% endblock %}

{% block content %}


<h2>Search Results for "{{ query }}"</h2>
{% if error_message %}
    <p>{{ error_message }}</p>
{% else %}
    <h3>Users</h3>
    {% if users_results %}
        <ul>
        {% for result in users_results %}
            <li>{{ result.user.username }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No users found.</p>
    {% endif %}

    <h3>Skills</h3>
    {% if skills_results %}
        <ul>
        {% for result in skills_results %}
            <li><a href="{% url 'skill_view' pk=result.meta.id %}">{{ result.skill_name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No skills found.</p>
    {% endif %}
{% endif %}

{% endblock %}
