{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Homepage" %}{% endblock %}

{% block content %}
    <div class="w3-col disappear">&nbsp;</div>
    <div class="w3-col content-table">
        <form method="post">
            {% csrf_token %}
            <h2>
                {% blocktrans with object=object %}
                    Are you sure you want to delete {{ object }}?
                {% endblocktrans %}
            </h2>
            <div class="w3-row">
                {% if object.skill_wikidata_item %}
                    <a href="https://www.wikidata.org/wiki/{{ object.skill_wikidata_item }}" title="{% trans 'Wikidata item associated' %}">{{ object.skill_wikidata_item }}</a>{% else %}
                    <a href="https://www.wikidata.org/wiki/Special:NewItem?label={{ object.skill_name }}&description={{ object.skill_description }}" title="{% trans 'Create a new item for this skill' %}">{% trans "Create a new item for this skill" %}</a>{% endif %}
                <p>{{ object.skill_description }}</p>
                <p>{% trans "Created at" %} {{ object.skill_date_of_creation }}</p>
                {% if object.skill_wikidata_item %}
                    <p>{% trans "Wikidata item associated:" %} {{ object.skill_wikidata_item }}</p>{% endif %}
                {% if object.skill_type.all %}
                    <p>{% for type_ in object.skill_type.all %}{{ type_.skill_name }}{% if not forloop.last %} |{% endif %}{% endfor %}</p>
                {% endif %}
            </div>
            <div class="w3-row sep">
                <div class="w3-row text-block">
                    <a href="{% url 'skill_list' %}"><button type="submit" class="red_btn" title="{% trans 'Yes, delete' %}" value="Confirm">{% trans "Yes, delete" %}</button></a>
                </div>
                <div class="w3-row text-block">
                    <a href="{% url 'skill_list' %}"><button type="button" class="blue_btn" title="{% trans 'No, go back to the list of skills' %}">{% trans "No, go back to the list of skills" %}</button></a>
                </div>
            </div>
        </form>
    </div>
    <div class="w3-col disappear">&nbsp;</div>
{% endblock %}