{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Skill list" %}{% endblock %}

{% block scripts %}
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.21.2/bootstrap-table.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.21.2/extensions/mobile/bootstrap-table-mobile.min.js"></script>
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.21.2/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/bootstrap-table/1.21.2/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="w3-container" style="height: calc(100vh - 5em)">
        <div class="w3-row">
            <div class="w3-col disappear">&nbsp;</div>
            <div class="w3-col content-table"><h1>{% trans "List of skills" %}</h1></div>
            <div class="w3-col disappear">&nbsp;</div>
        </div>
        <div class="w3-row">
            <div class="w3-col disappear">&nbsp;</div>
            <div class="w3-col content-table">
                <div class="w3-row">
                    <div class="w3-row">
                        <div class="w3-half formfield"><input id="customSearch" type="search" placeholder="{% trans 'Search' %}" aria-label="{% trans 'Search' %}" autocomplete="off" ></div>
                    </div>
                    <table id="reports" class="table table-striped table-fixed table-sara"
                           data-mobile-responsive="true"
                           data-check-on-init="true"
                           data-filter-control="true"
                           data-show-search-clear-button="true"
                           data-search="true"
                           data-search-selector="#customSearch">
                        <thead>
                        <tr>
                            <th data-field="id">{% trans "ID" %}</th>
                            <th data-field="name" data-sortable="true">{% trans "Name of the skill" %}</th>
                            <th data-field="actions">{% trans "Actions" %}</th>
                            <th data-field="wikidata" data-sortable="true">{% trans "Wikidata item" %}</th>
                            <th data-field="description">{% trans "Description" %}</th>
                            <th data-field="date_of_creation" data-sorter="datesSorter" data-sortable="true">{% trans "Incorporated in" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in object_list %}
                            <tr>
                                <th scope="row">{{ data.id }}</th>
                                <td>{{ data.skill_name }}</td>
                                <td>
                                    <div class="action_cell">
                                        <a class="action_buttons" title="{% trans 'View' %}" href="{% url 'skill_view' pk=data.id %}"><i class="fa-solid fa-eye"></i> {% trans "View" %}</a>
                                        <a class="action_buttons" title="{% trans 'Update' %}" href="{% url 'skill_edit' pk=data.id %}"><i class="fa-solid fa-pen"></i> {% trans "Update" %}</a>
                                        <a class="action_buttons" title="{% trans 'Delete' %}" href="{% url 'skill_delete' pk=data.id %}"><i class="fa-solid fa-times"></i> {% trans "Delete" %}</a>
                                    </div>
                                </td>
                                <td>
                                    {% if data.skill_wikidata_item %}
                                        <a class="action_buttons" title="{% trans 'Wikidata' %}" href="https://www.wikidata.org/wiki/{{ data.skill_wikidata_item }}"><i class="fa-solid fa-barcode"></i> {{ data.skill_wikidata_item }}</a>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{{ data.skill_description }}</td>
                                <td>{{ data.skill_date_of_creation|date:'Y-m-d' }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="w3-col disappear">&nbsp;</div>
        </div>
        <div class="w3-row">
            <div class="w3-col disappear">&nbsp;</div>
            <div class="w3-col content-table text-block">
                <a href="{% url 'skill_new' %}"><button type="button" class="blue_btn" title="{% trans 'Create new skill' %}">{% trans "Create new skill" %}</button></a>
            </div>
            <div class="w3-col disappear">&nbsp;</div>
        </div>
    </div>
    <script>
        $(function () {
            $('#reports').bootstrapTable();
        })

        function datesSorter(a, b) {
            if (new Date(a) < new Date(b)) return 1;
            if (new Date(a) > new Date(b)) return -1;
            return 0;
        }

        $(function (){
            $('[class*="bootstrap-table-filter-control-"]').wrap("<label style='width: 100%'></label>");
        })
    </script>
{% endblock %}