{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Homepage" %}{% endblock %}

{% block content %}
    <div class="w3-container" style="height: calc(100vh - 5em)">
        <div class="w3-col disappear">&nbsp;</div>
        <div class="w3-col content-table">
            <div class="w3-row">
                <h1>{{ object.skill_name }}</h1>
                {% if object.skill_wikidata_item %}<a href="https://www.wikidata.org/wiki/{{ object.skill_wikidata_item }}" title="{% trans 'Wikidata item associated' %}">{{ object.skill_wikidata_item }}</a>{% else %}<a href="https://www.wikidata.org/wiki/Special:NewItem?label={{ object.skill_name }}&description={{ object.skill_description }}" title="{% trans 'Create a new item for this skill' %}">{% trans "Create a new item for this skill" %}</a>{% endif %}
                <p>{{ object.skill_description }}</p>
                <p>{% trans "Created at" %} {{ object.skill_date_of_creation }}</p>
                {% if object.skill_wikidata_item %}<p>{% trans "Wikidata item associated:" %} {{ object.skill_wikidata_item }}</p>{% endif %}
                {% if object.skill_type.all %}<p>{% for type_ in object.skill_type.all %}{{ type_.skill_name }}{% if not forloop.last %} | {% endif %}{% endfor %}</p>{% endif %}
            </div>
            <div class="w3-row sep">
                <a href="{% url 'skill_list' %}"><button type="button" class="blue_btn" title="{% trans 'Go back to the list of skills' %}">{% trans "Go back to the list of skills" %}</button></a>
            </div>
        </div>
        <div class="w3-col disappear">&nbsp;</div>
    </div>
{% endblock %}