{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Homepage" %}{% endblock %}

{% block styles %}<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">{% endblock %}

{% block content %}
    <div class="w3-container" style="height: calc(100vh - 5em)">
        <div class="w3-col disappear">&nbsp;</div>
        <div class="w3-col content-table">
            <div class="w3-container userform">
                <h1>{% trans "Create a new skill" %}</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="w3-row sep">
                        <label for="id_skill_name">{% trans "Name" %}</label>
                        <input type="text" name="skill_name" maxlength="128" required="" id="id_skill_name"
                               value="{% if form.instance.skill_name %}{{ form.instance.skill_name }}{% endif %}"
                               placeholder="{% trans 'What is the title of this skill' %}">
                    </div>
                    <div class="w3-row sep">
                        <label for="id_skill_description">{% trans "Description" %}</label>
                        <input type="text" name="skill_description" maxlength="1000" required="" id="id_skill_description"
                               value="{% if form.instance.skill_description %}{{ form.instance.skill_description }}{% endif %}"
                               placeholder="{% trans 'Describe what this skill is about' %}">
                    </div>
                    <div class="w3-row sep">
                        <label for="id_skill_type">{% trans "Skill type" %}</label>
                    <p style="font-size:85%">{% trans "Is this skill related to other skills? Select the ones that apply" %}</p>
                        <select name="skill_type" id="id_skill_type" multiple="">
                            {% for skill_type in form.fields.skill_type.queryset %}
                                <option value="{{ skill_type.id }}" {% if skill_type in form.instance.skill_type.all %}selected{% endif %}>{{ skill_type.skill_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="w3-row sep">
                        <label for="id_skill_wikidata_item">{% trans "Wikidata item associated" %}</label>
                        <input type="text" name="skill_wikidata_item" maxlength="30" id="id_skill_wikidata_item"
                               value="{% if form.instance.skill_wikidata_item %}{{ form.instance.skill_wikidata_item }}{% endif %}"
                               placeholder="{% trans 'What is the Wikidata item associated with this skill?' %}">
                    </div>
                    <div class="sep"></div>
                    <input class="blue_btn" type="submit" value="Submit">
                    <div class="w3-row sep">
                        <a href="{% url 'skill_list' %}"><button type="button" class="red_btn" title="{% trans 'Go back to the list of skills' %}">{% trans "Go back to the list of skills" %}</button></a>
                    </div>
                </form>
            </div>
        </div>
        <div class="w3-col disappear">&nbsp;</div>
    </div>
{% endblock %}